* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    user-select: none;
}

main {
    overflow-y: scroll;
    background-color: #000;
}

main::-webkit-scrollbar {
    display: none;
}

header {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    z-index: 100;
}
